{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% load gravatar %}
{% block body %}

{% if latest_question_list %}
{% for ques in latest_question_list %}
<div class="list-group w-auto">
  <a href=" {% url 'ques_ans' ques.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
 <div >
        <p class="mb-0 opacity-75">{{ques.question_text}}. </p>
      </div>
      <small class="opacity-50 text-nowrap">now</small>
    </div>
  </a>
</div>
{% endfor %}
{% endif %}

<button class="btn btn-primary mt-3 ms-3">
    <a  style="text-decoration:none;" href="{% url 'Ask' %}" class="btn btn-primary">Ask Question</a>
</button>

{% endblock body %}